    <!-- --------Start Footer --------- -->
    <section class="footer">
        <h3>About Us</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil,
          accusamus placeat <br />provident harum odit sapiente voluptatibus
          doloremque .
        </p>
        <div class="social-icon">
          <div class="icon-facebook icon"></div>
          <div class="icon-twitter icon"></div>
          <div class="icon-instagram icon"></div>
          <div class="icon-linkedin2 icon"></div>
        </div>
        <span
          >We Made This Website with Love
          <span class="icon-heart-outline icon"></span
        ></span>
      </section>
      <!-- --------End Footer --------- -->
