    <!----------- Start Header-->
    <section class="sub-header header ">
      <app-navbar></app-navbar>
      <h1>ABOUT US</h1>
    </section>
    <!---------- End Header-->
    <!-- --------Start About --------- -->

    <section class="about">
      <div class="row">
        <div class="about-col">
          <h2>We Are The World's Largest University</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Repudiandae ipsum quas labore in esse quam. Hic dolor eum ea optio
            reprehenderit perspiciatis itaque, voluptate officiis voluptatibus
            architecto illum laborum doloribus!
           
          </p>
          <a href="#" class="hero-btn red-btn">EXPLORE NOW</a>
        </div>
        <div class="about-col"><img src="../../assets/images/about.jpg" /></div>
      </div>
    </section>

    <!-- --------End About --------- -->
