
/* About us Page*/
  .about {
    padding-top: 80px;
  }
  .about .row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 1200px) {
    .about .row {
      flex-direction: column;
    }
  }
  .about .about-col {
    flex-basis: 45%;
    align-self: start;
  }
  .about .about-col h2 {
    font-size: 42px;
    margin: 20px 0;
    font-weight: 900;
  }
  @media (max-width: 768px) {
    .about .about-col h2 {
      font-size: 26px;
    }
  }
  .about .about-col p {
    color: #777;
    padding-bottom: 30px;
  }
  .about .about-col img {
    width: 100%;
    border-radius: 10px;
  }