/* Start Header */
.sub-header {
  width: 100%;
  height: 50vh;
  margin: auto;
  background: linear-gradient(rgba(4, 0, 20, 0.5), rgba(4, 0, 20, 0.5)), url("../../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
}
.sub-header h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .sub-header h1 {
    font-size: 24px;
    padding: 10px;
  }
}
.course {
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.course .course-header {
  font-size: 36px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .course .course-header {
    font-size: 30px;
  }
}
.course .course-info {
  font-size: 14px;
  color: #777;
}
.course .row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .course .row {
    flex-direction: column;
  }
}
.course .row .course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 5%;
  transition: 0.5s;
}
.course .row .course-col:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.course .row .course-col h3 {
  font-weight: 600;
  margin: 10px;
}
.course .row .course-col p {
  font-size: 14px;
  color: #777;
}

/* ----------End Course */
*----------- Start  Facilities*/
.facilities {
  padding-top: 50px;
  width: 85%;
  margin: auto;
  text-align: center;
}
.facilities .facilities-header {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
}
.facilities .facilities-info {
  font-size: 14px;
  color: #777;
  text-align: center;
}
.facilities .row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .facilities .row {
    flex-direction: column;
  }
}
.facilities .row .facilities_col {
  flex-basis: 31%;
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px;
}
.facilities .row .facilities_col img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.facilities .row .facilities_col img:hover {
  transform: scale(1.009);
}
.facilities .row .facilities_col h4 {
  margin: 10px 0;
  text-align: left;
}
.facilities .row .facilities_col p {
  font-size: 14px;
  color: #777;
  text-align: left;
}

/*----------- End Facilities*/