.header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../../assets/images/banner.png);
}
.header .content {
  color: #fff;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.header .content .content-header {
  font-size: 62px;
}
@media (max-width: 768px) {
  .header .content .content-header {
    font-size: 20px;
  }
}
.header .content .content-info {
  margin: 10px auto 40px;
  font-size: 13px;
  width: 80%;
}
.sub-header {
  width: 100%;
  height: 50vh;
  margin: auto;
  background: linear-gradient(rgba(4, 0, 20, 0.5), rgba(4, 0, 20, 0.5)), url("../../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
}
.sub-header h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .sub-header h1 {
    font-size: 24px;
    padding: 10px;
  }
}
/* ----------------End  Header */
/*--------- -Start Course */
.course {
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.course .course-header {
  font-size: 36px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .course .course-header {
    font-size: 30px;
  }
}
.course .course-info {
  font-size: 14px;
  color: #777;
}
.course .row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .course .row {
    flex-direction: column;
  }
}
.course .row .course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 5%;
  transition: 0.5s;
}
.course .row .course-col:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.course .row .course-col h3 {
  font-weight: 600;
  margin: 10px;
}
.course .row .course-col p {
  font-size: 14px;
  color: #777;
}

/* ----------End Course */
/*----------- Start Campus*/
.campus {
  padding-top: 50px;
  width: 85%;
  margin: auto;
  text-align: center;
  background-color: #f9f9f9;
}
.campus .campus-header {
  font-size: 36px;
  margin-bottom: 10px;
}
.campus .campus-info {
  font-size: 14px;
  color: #777;
}
.campus .row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .campus .row {
    flex-direction: column;
  }
}
.campus .row .campus-col {
  flex-basis: 31%;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.campus .row .campus-col img {
  width: 100%;
  border-radius: 10px;
}
.campus .row .campus-col .layer {
  background: transparent;
  width: 100%;
  height: 99%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.7s;
}
.campus .row .campus-col .layer:hover {
  background: rgba(255, 0, 0, 0.7);
}
.campus .row .campus-col .layer:hover h3 {
  opacity: 1;
  bottom: 50%;
}
.campus .row .campus-col .layer h3 {
  color: #fff;
  width: 100%;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.7s;
}

/*----------- End Campus*/
/*----------- Start  Facilities*/
.facilities {
  padding-top: 50px;
  width: 85%;
  margin: auto;
  text-align: center;
}
.facilities .facilities-header {
  font-size: 36px;
  margin-bottom: 10px;
}
.facilities .facilities-info {
  font-size: 14px;
  color: #777;
}
.facilities .row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .facilities .row {
    flex-direction: column;
  }
}
.facilities .row .facilities_col {
  flex-basis: 31%;
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px;
}
.facilities .row .facilities_col img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.facilities .row .facilities_col img:hover {
  transform: scale(1.009);
}
.facilities .row .facilities_col h4 {
  margin: 10px 0;
  text-align: left;
}
.facilities .row .facilities_col p {
  font-size: 14px;
  color: #777;
  text-align: left;
}

/*----------- End Facilities*/
/*----------- Start Testimonials*/
.testimonial {
  padding-top: 50px;
  padding-bottom: 100px;
  width: 85%;
  margin: auto;
  text-align: center;
  background-color: #f9f9f9;
}
.testimonial .testimonial-header {
  font-size: 36px;
  margin-bottom: 10px;
}
.testimonial .testimonial-info {
  font-size: 14px;
  color: #777;
}
.testimonial .row {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .testimonial .row {
    flex-direction: column;
  }
}
.testimonial .row .testimonial-col {
  flex-basis: 45%;
  background: #fff3f3;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
}
.testimonial .row .testimonial-col:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.testimonial .row img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
.testimonial .row p {
  font-size: 14px;
  color: #777;
}
.testimonial .row h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.testimonial .row .icon-star-full {
  display: inline-block;
  color: #f44336;
}

/*----------- End Testimonials*/
/*------------Start Contact us*/
.contact-us {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/images/banner2.jpg");
  background-size: cover;
  text-align: center;
  height: 70vh;
  margin: auto;
  border-radius: 10px;
}
.contact-us .content {
  padding-top: 100px;
}
.contact-us .content h3 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px;
}
@media (max-width: 768px) {
  .contact-us .content h3 {
    font-size: 20px;
  }
}

/*------------End Contact us*/
  /* ----------------End  Header */